/* Creat notes section */

.creat_notes_fields {
    width: 100%;
}

.input_field {
    width: 50%;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 7px 5px rgb(209, 203, 203);
    border-radius: 10px;
    padding: 10px;
    position: relative;
}

.input_title {
    border: none;
    padding: 7px 10px;
    font-size: 20px;

}

.input_title:focus {
    outline: none;
}

.input_contant {
    border: none;
    padding: 7px 10px;
    font-size: 16px;
}

::-webkit-scrollbar {
    display: none;
}

.input_contant:focus {
    outline: none;
}

.add_btn {
    width: 40px;
    text-align: center;
    padding: 3px;
    box-shadow: 0px 0px 3px 4px rgb(186, 181, 181);
    border-radius: 50%;
    position: absolute;
    right: 10px;
    top: 90px;
    cursor: pointer;
}

.add_btn:hover {
    background-color: orange;
    color: white;
}


/* note section */

.note_field {
    width: 250px;
    height: 100px;
    box-shadow: 0px 0px 8px 3px rgb(188, 180, 180);
    padding: 10px;
    border-radius: 10px;
    overflow-y: scroll;
    position: relative;
}

.note_title {
    padding-block: 5px;
}

.note_contant {
    color: gray;
    font-size: 15px;
    padding-top: 5px;

}

.deleteBtn {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s all;
}

.deleteBtn:hover {
    color: orange;
    font-size: 23px;
}